<h2>Novedades</h2>
        <div class="novedades">
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi non nam tempora cumque perspiciatis accusamus molestiae culpa ducimus laudantium quas est sit vitae cupiditate facere, eum obcaecati, dolorum eligendi consectetur.</p>
        <hr>
        </div>

        <div class="novedades">
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi non nam tempora cumque perspiciatis accusamus molestiae culpa ducimus laudantium quas est sit vitae cupiditate facere, eum obcaecati, dolorum eligendi consectetur.</p>
        <hr>
        </div>

        <div class="novedades">
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi non nam tempora cumque perspiciatis accusamus molestiae culpa ducimus laudantium quas est sit vitae cupiditate facere, eum obcaecati, dolorum eligendi consectetur.</p>
        <hr>
        </div>